<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930578784825-j46gbgguj8nej53g6osb1halr1tsco50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930578784825-j46gbgguj8nej53g6osb1halr1tsco50</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930578784825-7rnm5lgjto6fn6k0ojipvgo0dqt8p0f1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8c35TxyaMZAP1RfJA041Pp-LeUPSiXRg</string>
	<key>GCM_SENDER_ID</key>
	<string>930578784825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sehh3140.pics</string>
	<key>PROJECT_ID</key>
	<string>pics-a3fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>pics-a3fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930578784825:ios:34c082f4a9fe93a7c7e3e8</string>
</dict>
</plist>